<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserva</title>
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }
      body * {
        font-family: "Inter", sans-serif;
        color: black;
      }

      #container {
        border: 1px #a9a9a9 solid;
        border-radius: 1vh;
        width: 100%;
        max-width: 1000px;
        margin: 70px auto;
        padding: 10px 24px;
        background: #f0f8ff;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      h1 {
        font-size: 30px;
        font-weight: 500;
        margin-left: 14px;
      }
      #space-between {
        border: 2px #dcdcdc solid;
        border-radius: 50vh;
        margin: 10px;
      }
      #reserve-breed {
        padding: 5px 14px;
        display: flex;
      }

      #textfield {
        padding-right: 32px;
      }
      select {
        padding: 1px 55px;
      }
      label {
        font-size: 12px;
        font-weight: bold;
      }
      .btn-reserve {
        margin: 20px 15px;
        border: 8px #2e8b57 solid;
        border-radius: 6%;
        font-weight: 400;
        color: white;
        background: #2e8b57;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #00ff8052;
      }
      .btn-get {
        margin: 20px 15px;
        border: 8px #b22222 solid;
        border-radius: 6%;
        font-weight: 400;
        background: #b22222;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #8b0000;
      }

      .btn-get > a {
        text-decoration: none;
        color: white;
      }

      #table {
        padding: 5px 14px;
        display: flex;
      }
      #table thead tr th {
        border: 2px #dcdcdc solid;
        padding-right: 150px;
        padding-left: 5px;
        border-bottom: none;
      }
      #table tbody tr td {
        border: 1px #dcdcdc solid;
        padding-right: 10%;
        padding-left: 5px;
        border-bottom: none;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <form method="post">
        <h1>Faça sua Reserva</h1>
        <div id="space-between"></div>
        <div id="reserve-breed">
          <div id="textfield">
            <label for="block">Selecione o Bloco:</label>
            <br />
            <select name="block">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
          <div id="textfield">
            <label for="room">Selecione a Sala:</label>
            <br />
            <select name="room">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div id="textfield">
            <label for="date">Selecione a Data:</label>
            <br />
            <input type="date" id="date" name="date" min="<%= new Date().toISOString().split("T")[0] %>" />
          </div>
          <div id="textfield" met>
            <label for="requester">Solicitante: </label>
            <br />
            <input
              type="text"
              name="requester"
              placeholder="solicitante"
              required
            />
          </div>
        </div>
        <div id="btn-reserve">
          <button class="btn-reserve">Reservar</button>
        </div>
        <h1>Reservas</h1>
        <div id="space-between"></div>
        <div id="table">
          <table id="table-inside">
            <thead>
              <tr>
                <th>Data</th>
                <th>Sala</th>
                <th>Bloco</th>
                <th>Solicitante</th>
              </tr>
            </thead>
            <tbody>
              <tr id="before-table">
                <td><%= date %></td>
                <td><%= room %></td>
                <td><%= block %></td>
                <td><%= requester %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="btn-get">
          <button class="btn-get"><a href="./calender.ejs" target="_blank">Ver todas</a></button>
        </div>
      </form>
    </div>
  </body>
</html>
